<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Permanent+Marker" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @Html.ActionLink("GigHub", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="priblizi">@Html.ActionLink("Home", "About", "Home")</li>
                    <li class="priblizi">@Html.ActionLink("List", "Index", "Home")</li>
                    <li class="priblizi">@Html.ActionLink("Create Gig", "Create", "Gigs")</li>
                    <li class="priblizi">@Html.ActionLink("Search", "Search", "Home")</li>
                    
                    <li style="margin-top:5px">
                        <audio controls class="audio-block hidden-md hidden-sm">
                            <source src="~/Content/music/neffex.mp3" type="audio/mpeg">
                        </audio>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr>
        <footer>
            <p>© 2018 -GiGHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>


    </script>

</body>
</html>
